build/
dist/
.vs/
.vscode/
*.user
CMakeUserPresets.json
vcpkg_installed/
*.pyc
__pycache__/
/build
/pcaps
/docs

!/docs/
/docs/*
!/docs/rpc-protocol.md
!/docs/usage.md
!/docs/internals.md
!/docs/building.md
!/docs/reporting.md

*.pcap
*.pcapng
/tools/re/__pycache__/

export.xml
*.SFT
tmp_dump_entries.py

ci-log.txt